@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

* {
  -webkit-tap-highlight-color: transparent;
}

html, body, #root {
  height: 100%;
  overflow: hidden;
}
